.sidebar {
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px 10px;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.3s;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  background: #222;
  white-space: nowrap;
}
